body {
    /* background-color: black; */
    color: white;
}
#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#background {
    height: auto;
    width: 100%;
}

#stuff {
    z-index: -1;
    position: fixed;
    overflow-y: scroll;
}

